.jumbotron {
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
	 /* Margin top by navbar height */
  margin-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #eee;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 15px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.content {
	font-size: 24px;
	padding: 10px 10px 40px;
}

.flag {
    display: inline-block;
    background: url('flags.png') no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}


.flag.flag-gb {
    background-position: 0 0;
}

.flag.flag-pl {
    background-position: -48px 0;
}
