<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>

    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
    </Console>

    <!-- File Appender -->
    <!-- WSZYSTKO LOGOWANE JEST DO JEDNEGO PLIKU = BAD PRACTICE  -->
    <!-- 
    
    	TODO
    	TODO
    	TODO
    
     -->
    <File name="File" fileName="target/log/app.log">
      <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
    </File>

  </Appenders>
  <Loggers>
    <!-- Log everything in hibernate  LOGGER Z TEGO PAKIETU BEDZIE LOGOWAL WSZYSTKO NA POZIOMIE INFO -->
    <Logger name="org.hibernate" level="info" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>

    <!-- Log SQL statements  LOGGER Z TEGO PAKIETU BEDZIE LOGOWAL WSZYSTKO NA POZIOMIE DEBUG -->
    <Logger name="org.hibernate.SQL" level="debug" additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Logger>

    <!-- Log JDBC bind parameters  LOGGER Z TEGO PAKIETU BEDZIE LOGOWAL WSZYSTKO NA POZIOMIE TRACE -->
    <Logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Logger>
    
    <!-- Log custom packages -->
    <Logger name="com.boraji.tutorial.hibernate" level="debug" additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Logger>
    

	<!-- LEVEL DZIALANIA ROOT LOGGERA TO ERROR -->
    <Root level="info">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Root>
  </Loggers>
</Configuration>