<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head (pageTitle=#{homepage.title})">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../../resources/js/jquery-3.2.1.min.js"
	th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>


<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />

<link href="../../resources/css/custom.css"
	th:href="@{/resources/css/custom.css}" rel="stylesheet" />

<title th:text="#{confirmpage.title}">Register</title>
<!-- to NIE ZMIENIA tytulu strony. Tytul strony przetwarzany jest przez fragment head zaladowany dynamicznie podczas dzialania aplikacji wraz z wywolaniem. To w sumie nie robi nic bo silnik obslugujacy znaczniki z atrybutami z prefixem th: dziala gdy aplikacja jest uruchomiona.-->

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top"
		th:replace="fragments/header :: navbar"></nav>

	<div class="container">

		<div th:if="${successMessage}" class="alert alert-success"
			th:text="${successMessage}"></div>

		<div th:if="${errorMessage}" class="alert alert-danger"
			th:text="${errorMessage}"></div>

		<div th:if="${invalidToken}" class="alert alert-danger"
			th:text="${invalidToken}"></div>

		<h2 th:if="!${invalidToken}" class="form-signin-heading"
			th:text="#{confirmpage.heading}">Set Your Password</h2>

		<form th:if="!${invalidToken}" class="form-signin" id="passwordForm"
			action="#" th:action="@{/confirm}" method="post">
			
			<input type="hidden" name="${_csrf.parameterName}"
								value="${_csrf.token}" />

			<input type="hidden" name="token" th:value="${confirmationToken}">
			<input type="hidden" name="role" th:object="${role}">

			<input name="password" type="password" id="password"
				th:placeholder="#{confirmpage.password}" th:value="${password}"
				class="form-control" required autofocus /> <input
				name="confirmpassword" type="password" id="confirmpassword"
				th:placeholder="#{confirmpage.confirmPassword}" class="form-control"
				required />
			<div class="alert alert-danger" id="passwordsMismatch"
				th:text="#{confirmpage.passwordsMismatch}">Passwords mismatch
			</div>

			<button type="submit" class="btn btn-primary block full-width m-b"
				th:text="#{confirmpage.submit}">Save</button>

		</form>
	</div>
	<!-- /container -->
	<!-- footer -->
	<footer class="footer" th:replace="fragments/footer :: footer">
		<div class="container-fluid">
			<span class="text-muted">Place sticky footer content here.</span>
		</div>
	</footer>

	<script type="text/javascript">
		function onLoad() {
			$("#passwordsMismatch").hide();
			$("#passwordForm").submit(canSubmit);
		}

		function canSubmit() {
			var password = $("#password").val();
			var confirmpass = $("#confirmpassword").val();

			if (password != confirmpass) {
				$("#passwordsMismatch").show();
				return false;
			} else {
				return true;
			}
		}

		$(document).ready(onLoad);
	</script>

</body>
</html>