<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title th:text="#{homepage.title}">Title</title>

<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">

		<h2 th:text="#{homepage.content}">Content</h2>

	</div>
	<!-- /container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>