<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head (pageTitle=#{homepage.title})">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../../resources/js/jquery-3.2.1.min.js"
	th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>


<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />

<link href="../../resources/css/custom.css"
	th:href="@{/resources/css/custom.css}" rel="stylesheet" />

<title>Page title</title>

</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top"
			th:replace="fragments/header :: navbar">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a href="">Link1 z headera</a></li>
					<li><a href="">Link2 z headera</a></li>
					<li><a href="">Link3</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href=""><span class="glyphicon glyphicon-user"></span>
							Profil</a></li>
					<li><a href="" th:href="@{/login}"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</nav>
	<div class="container">
		<form class="form-inline" th:action='@{/weather}' th:object="${city}" method="POST">
			 <div class="form-group mx-sm-3 mb-2">
   				 <label for="inputPassword" class="sr-only">Password</label>
   				 <input type="password" class="form-control" id="inputPassword" placeholder="#{loginpage.password}">
  			</div>
  			<button type="submit" class="btn btn-primary mb-2">Check it!</button>
		</form>
	</div>
	<footer class="footer" th:replace="fragments/footer :: footer">
		<div class="container-fluid">
			<span class="text-muted">Place sticky footer content here.</span>
		</div>
	</footer>
	
<script th:inline="javascript">
	function updateWeatherConditions(data) {
		alert(data.query.results.channel.location.city);
	}
	
	function onLoad() {
		$.getJSON(/*[[@{/weatherConditions}]]*/, updateWeatherConditions);
	}
	
	$(document).ready(onLoad);
</script>	

</body>
</html>