<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head (pageTitle=#{homepage.title})">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../static/js/jquery-3.2.1.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />

<link href="../static/css/custom.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css"
	href="https://unpkg.com/pell/dist/pell.min.css">


<title>Page title</title>

</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top"
		th:replace="fragments/header :: navbar"></nav>
	<!-- jumbotron -->
	<div class="container-fluid">
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-offset-4 col-lg-4">
					<img src="../static/images/horde.png"
						th:src="@{/static/images/horde.png}" class="img-circle"
						alt="Cinque Terre" width="304" height="236" />
				</div>
			</div>
		</div>

		<div th:if="${postInvoked}">
			<div id="editor" class="pell"></div>
		</div>
		
		<input type="hidden" id="numberOfPosts" th:value="${numberOfPosts}"/>

		<!-- content -->
		<div class="container-fluid">
			<table class="table spaced-td">
				<tr th:each="post : ${posts}" class="spaceUnder">
					<td class="post-content">
						<div sec:authorize="hasRole('ROLE_ADMIN')">
							<button th:text="#{homepage.postEdit}" class="btn btn-dark"
								onClick="editPost()">Edit</button>
							<button th:text="#{homepage.postDelete}" class="btn btn-dark"
								th:onclick="'javascript:deletePost(' + ${post.postId} + ');'">Delete</button>
						</div>
						<div th:utext="${post.content}"></div>
						<div class="post-footer">
							<span th:text="${post.latestUpdate}">2019-02-28</span>, <span
								th:text="${post.owner}">Adam Dębski</span>
						</div>
					</td>
				</tr>
			</table>
			<div id="selectPageButtons" style="text-align: center;"></div>
		</div>
	</div>

	<!-- footer -->
	<footer class="footer" th:replace="fragments/footer :: footer">
		<div class="container-fluid">
			<span class="text-muted">Place sticky footer content here.</span>
		</div>
	</footer>


	<span th:if="${postInvoked}"> <script
			th:src="@{/static/js/pell-core.min.js}"></script> <script
			th:src="@{/static/js/pell.js}"></script>
	</span>

	<script src="../../static/js/homepage.js"
		th:src="@{/static/js/homepage.js}"></script>
</body>
</html>