<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head (pageTitle=#{homepage.title})">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../static/js/jquery-3.2.1.min.js"
	th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}">
</script>


<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />

<link href="../static/css/custom.css"
	th:href="@{/resources/css/custom.css}" rel="stylesheet" />

<title>Page title</title>

</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top"
			th:replace="fragments/header :: navbar">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a href="">Link1 z headera</a></li>
					<li><a href="">Link2 z headera</a></li>
					<li><a href="">Link3</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href=""><span class="glyphicon glyphicon-user"></span>
							Profil</a></li>
					<li><a href="" th:href="@{/login}"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			 <div class="alert alert-info" th:text="#{weatherpage.inputInfo}">Give the name of the city where you want to see the weather</div>
   				 <label for="inputCity" class="sr-only">Input city</label>
   				 <input type="text" class="form-control" id="inputCity" name="inputCity" th:placeholder="#{weatherpage.city}">
		  		 <button type="button" class="btn btn-primary mb-2" th:text="#{weatherpage.submit}" onclick="getWeatherJson()">Check it!</button>
		</div>
		
		
		<div class="col-lg-6">
			<table>
				<tbody>
					<tr>
						<td class="bg-primary">
							<div th:text="#{weatherpage.date}"></div>
							<div id="date"></div>
						</td>
					</tr>
					<tr>
						<td >
							<div th:text="#{weatherpage.cityLabel}"></div>
							<div id="city"></div>
						</td>
					</tr>
					<tr>
						<td class="bg-primary">
							<div th:text="#{weatherpage.country}"></div>
							<div id="country"></div>
						</td>
					</tr>
					<tr>
						<td >
							<div th:text="#{weatherpage.temperature}"></div>
							<div id="temp"></div>
						</td>
					</tr>
					<tr>
						<td class="bg-primary">
							<div th:text="#{weatherpage.description}"></div>
							<div id="description"></div>
						</td>
					</tr>
					<tr>
						<td >
							<div th:text="#{weatherpage.sunrise}"></div>
							<div id="sunrise"></div>
						</td>
					</tr>
					<tr>
						<td class="bg-primary">
							<div th:text="#{weatherpage.sunset}"></div>
							<div id="sunset"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		<div class="container" >
			<div id="date"  class="bg-success"></div>
			<div id="city" class="bg-primary"></div>
			<!-- <div id="region"  class="bg-information"></div>  -->
			<div id="country"  class="bg-success"></div>
			<div id="temp"  class="bg-success"></div>
		</div>
	<!--  <div class="container">
		<form class="form-inline" th:action='@{/weather}' method="POST">
			 <div class="form-group mx-sm-3 mb-2">
			 	 <div class="alert alert-info" th:text="#{weatherpage.inputInfo}">Give the name of the city where you want to see the weather</div>
   				 <label for="inputCity" class="sr-only">Input city</label>
   				 <input type="text" class="form-control" id="inputCity" name="inputCity" th:placeholder="#{weatherpage.city}">
		  		 <button type="submit" class="btn btn-primary mb-2" th:text="#{weatherpage.submit}">Check it!</button>
  			</div>
		</form>
	</div> 
	<div class="container" th:if="${weatherEntity}">
		<div th:text="${weatherEntity}"></div>
		<button type="button" onclick="getWeatherJson()"></button>
	</div> -->
	<footer class="footer" th:replace="fragments/footer :: footer">
		<div class="container-fluid">
			<span class="text-muted">Place sticky footer content here.</span>
		</div>
	</footer>
	
</body>
</html>