<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../../../resources/js/jquery-3.2.1.slim.min.js"
	th:src="@{/resources/js/jquery-3.2.1.slim.min.js}"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>


<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />

<link href="../../../resources/css/custom.css"
	th:href="@{/resources/css/custom.css}" rel="stylesheet" />

</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-inverse navbar-fixed-top"
			th:fragment="navbar">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a href="#" th:href="@{/}"
						th:text="#{homepage.homepageLink}">Homepage</a></li>
					<li><a href="#">Link2 z headera</a></li>
					<li><a href="#">Link3</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
							<span th:text="#{loginpage.profileLink}">Profile</span> </a></li>

					<li sec:authorize="!isAuthenticated()"><a href="#"
						th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>
							<span th:text="#{loginpage.loginLink}">Login</span></a></li>
					<li sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" id="logout" method="post">
							<input type="hidden" name="${_csrf.parameterName}"
								value="${_csrf.token}" />
						</form> <a href="#" onclick="document.getElementById('logout').submit();">
							<span class="glyphicon glyphicon-log-out"></span> <span
							th:text="#{loginpage.logoutLink}">Logout</span>
					</a>
					</li>
				</ul>
					<a href="?lang=pl_PL" ><span class="flag flag-pl"></span></a>
					<a href="?lang=en_UK" ><span class="flag flag-uk"></span></a>
			</div>
		</nav>
	</div>

</body>
</html>